.productList{
  width: 1370px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.productItem{
  width: 395px;
  height: 415px;
  margin-bottom: 38px;
  padding: 40px 75px 35px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.productTitle{
  font-size: 12px;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 40px;
}
.productThumb{
  object-fit: cover;
  width: 247px;
  height: 247px;
}
.tagList{
  margin-top: 20px;
  display: flex;
}
.tagItem{
  &:not(:first-child){
    margin-left: 5px;
  }
}
